.inputContainer{
    padding: 0;
    margin: 0;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsInput{
    padding: 10px 5px;
    font-size: 20px;
    outline: none;
}
.newsPosts{
    display: flex;
    justify-content: center;
}
.select{
    padding-left: 10px;
    margin-left: 10px;
}